/*------Estilos del popup-------*/ /*No esta hecho mobile first*/

.popup{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -34%);
    display: none;
    z-index: 3000;
}

.contentBox{
    position: relative;
    width: 600px;
    height: 400px;
    background: #fff;
    border-radius: 20px;
    display: flex;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.contentBox .imgPop{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    &::before{
        content: '';
        position: absolute;
    }
    img{
        position: relative;
        max-width: 250px;
        z-index: 1;
    }
}

.contentBox .content{
    position: relative;
    width: 300px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    h3{
        color: #333;
        line-height: 1em;
        font-weight: 500;
        font-size: 2em;
        font-family: $popup;
    }
    h4{
        font-size: 4em;
        color: #6F4E37;
        line-height: 1em;
        span{
            color: #333;
            font-size: 0.75em;
            text-transform: uppercase;
        }
    }
    p{
        font-weight: 300;
    }
    a{
        display: inline-block;
        padding: 10px 20px;
        background: #6F4E37;
        color: #fff;
        margin-top: 15px;
        text-decoration: none;
    }
}

.close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    background: #f3f3f3 url(/img/close.png);
    background-repeat: no-repeat;
    background-size: 10px;
    background-position: center;
    cursor: pointer;
    border-radius: 50%;
    z-index: 10;
}

/*----------popup responsive-----------*/

@media (max-width:767px){
    .contentBox{
        width: 300px;
        height: auto;
        flex-direction: column;
    }

    .contentBox .imgPop{
        height: 95px;
        transform: translateY(10px);
        &::before{
            background: #fff;
        }
    }

    .contentBox .content{
        height: auto;
        text-align: center;
        padding: 35px;
        padding-top: 0;
        transform: translateY(80px);
        h3{
            font-size: 1.7em;
            margin-top: 10px;
        }
        h4{
            font-size: 2em;
            color: #6F4E37;
            line-height: 1em;
        }   
    }

    .close {
        top: -50px;
        right: -10px;
        background: #f3f3f3 url(/img/close.png);
        background-repeat: no-repeat;
        background-size: 10px;
        background-position: center;
    }
}